<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="url" value="https://tutorialsninja.com/demo/"></parameter>
<parameter name="email" value="pariharsatish32@gmail.com"></parameter>
<parameter name="password" value="12345"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Parameters.Params">
      <methods>
      <include name="Login"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
